<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- favicon -->
  <link rel="shortcut icon" href="./assets/images/logo.png" type="image/png">
  <!-- fonts -->
  <link rel="stylesheet" href="./assets/fonts/fonts.css">
  <!-- style -->
  <link rel="stylesheet" href="./index-2.css">
  <!-- libraries -->
  <script src="./assets/libraries/vue.min.js"></script>
  <script src="./assets/libraries/jszip.min.js"></script>
  <script src="./assets/libraries/prism.min.js"></script>
  <!-- script -->
  <script src="./index-2.js" type="module" defer></script>
  <!-- page title -->
  <title>Glyphs</title>
</head>

<body>
  <!-- app root -->
  <div id="app">
    <!-- header -->
    <header>
      <div class="logo"></div>
      <input
        type="text"
        id="search"
        placeholder="Search Glyphs..."
        v-model="query.text"
        @input="search"
        spellcheck="false"
      />
    </header>
    <!-- content -->
    <div class="content">
      <!-- listing -->
      <div class="listing">
        <div class="listing-inner">
          <div
            class="listing-item"
            :data-selected="query.group === item"
            @click="query.group = item; load()"
            v-if="items?.[item]?.length > 0"
            v-for="item in groups">
            <div class="listing-item-name">
              {{item}}
            </div>
            <div class="listing-item-count">
              {{items?.[item]?.length}}
            </div>
          </div>
        </div>
      </div>
      <!-- results -->
      <div class="results">
        <div
          class="results-item"
          v-for="item in results"
          :data-loading="!item.icon">
          <div
            class="results-item-icon"
            v-html="item.icon?.domElement.outerHTML">
          </div>
          <div
            class="results-item-text">
            {{item.id}}
          </div>
        </div>
      </div>
    </div>
    <!-- results -->
    <div class="spinner" v-if="loading"></div>
  </div>
</body>

</html>