* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: "FiraCode";
  outline: none;
}

body {
  background-color: #222;
  background-image: url(./assets/images/spinner.svg);
  background-position: center;
  background-size: 30px auto;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100svh;
  margin: 0px;
}

body[data-ready] {
  background-image: none;
  height: auto;
  overflow: auto;
}

#app {
  display: none;
  user-select: none;
}

[data-ready] #app {
  display: block;
}

header {
  position: fixed;
  background-color: #0007;
  box-shadow: 0px 0px 10px #0002;
  backdrop-filter: blur(10px);
  display: flex;
  width: 100%;
  left: 0px;
  top: 0px;
}

.logo {
  width: 60px;
  height: 60px;
  background-color: #0008;
  background-image: url(./assets/images/logo-transparent.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#search {
  color: #fff8;
  font-size: 15px;
  background-color: transparent;
  padding: 0px 25px;
  flex-grow: 1;
  border: none;
}

.content {
  display: flex;
  gap: 20px;
}

.listing {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 220px;
  top: 60px;
  left: 0px;
  background-color: #0003;
  height: calc(100svh - 60px);
  overflow: hidden;
}

.listing-inner {
  width: calc(100% + 4px);
  height: 100%;
  overflow-y: auto;
  transition: width, padding-right;
  transition-duration: 0.2s;
  padding-right: 4px;
}

.listing-inner::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.listing-inner::-webkit-scrollbar-thumb {
  background-color: #fff2;
}

.listing-inner:hover {
  width: 100%;
  padding-right: 0px;
}

.listing-item {
  font-size: 14px;
  padding: 4px 12px;
  height: 38px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
}

.listing-item:first-child {
  margin-top: 4px;
}

.listing-item:last-child {
  margin-bottom: 4px;
}

.listing-item:hover {
  background-color: #ffffff0a;
}

.listing-item-name {
  flex-grow: 1;
  color: #fff5;
}

.listing-item-count {
  color: #fff2;
  font-style: italic;
}

.listing-item[data-selected] {
  background-color: #ffffff0f;
  box-shadow: 4px 0px 0px 0px #ffffff0f;
}

.listing-item[data-selected] .listing-item-name {
  color: #1682ef;
}

.listing-item[data-selected] .listing-item-count {
  color: #fff4;
}

.results {
  display: flex;
  flex-wrap: wrap;
  padding: 90px 10px 10px 250px;
  gap: 10px;
}

.results-item {
  width: 146px;
  height: 146px;
  border-radius: 8px;
  background-color: #fff1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: background-color 0.15s;
  user-select: none;
  cursor: pointer;
  padding: 10px;
  gap: 25px;
}

.results-item:hover {
  background-color: #ffffff22;
}

.results-item:active {
  background-color: #ffffff1a;
}

.results-item[data-loading] .results-item-icon {
  background-image: url(./assets/images/spinner.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px auto;
}

.results-item svg {
  width: 60px;
  height: 60px;
  fill: #888;
}

.results-item-icon {
  margin-top: 10px;
  width: 60px;
  height: 60px;
}

.results-item-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 10px;
  width: calc(100% - 12px);
  color: #777;
}